.lista{
    display: flex;
    justify-content: center;
    margin: 80px 0px;
    font-size: 24px;

}

.lista ul {
    list-style: none; /* remove o marcador de lista padrão */
    margin: 0;
    padding: 0;
  }
  
.lista li {
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  }

.lista button {
    background-color: #6276f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #ffff;
    margin: 32px 0;
}